<%
   title = "Cal Raijin Taiko"
   description = "Founded in 2005, Cal Raijin Taiko is UC Berkeley's Japanese drumming performance ensemble."
   image = URI.join(root_url, image_path("logo.png"))

   meta title: title,
   description: description,
   og: {
   title: title,
   description: description,
   image: image,
   url: root_url
   }
%>

<header>
  <h2>Upcoming Performances</h2>
</header>
<div id="front-perf-feed">
  <%= render 'performances/thumbnail_feed', performances: @performances %>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=699325996783664&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="fb-stuff">
  <div id="fb-feed">
    <div class="fb-like-box" data-href="https://www.facebook.com/calraijintaiko" data-width="702" data-height="600" data-colorscheme="light" data-show-faces="false" data-header="true" data-stream="true" data-show-border="true"></div>
  </div>
  <div id="fb-faces">
    <div class="fb-facepile" data-href="https://www.facebook.com/calraijintaiko" data-width="694" data-max-rows="2" data-colorscheme="light" data-size="medium" data-show-count="true"></div>
  </div>
</div>
