<h1>Cal Raijin Taiko</h1>

<p>In the Spring of 2005, a small-but-committed group of students pooled together their resources and formed UC Berkeley's first taiko group. Since then, Cal Raijin Taiko has gone on to become Berkeley's premier Japanese drumming performance ensemble. With a repertoire consisting entirely of original compositions, Cal Raijin Taiko performs to spread the knowledge, love, and passion of taiko to both the campus and the surrounding communities.</p>

<div class="icons">
  <%= link_to image_tag("icons/facebook_icon.png"),
  "https://www.facebook.com/calraijintaiko", :target => "_blank" %>
  <%= link_to image_tag("icons/instagram_icon.png"),
  "http://www.instagram.com/calraijintaiko", :target => "_blank" %>
  <%= link_to image_tag("icons/youtube_icon.png"),
  "https://www.youtube.com/user/CALtaiko", :target => "_blank" %>
</div>
