<div class="perf-feed">
  <ul>
    <% @upcoming_performances.each do |upcoming_performance| %>
    <li>
      <%= render '/upcoming_performances/show', :upcoming_performance => upcoming_performance %>
      <% if user_signed_in? %>
      <div class="nav-buttons">
        <p><%= link_to 'Show', upcoming_performance_path(upcoming_performance) %>
          <%= link_to 'Edit', edit_upcoming_performance_path(upcoming_performance) %>
          <%= link_to 'Delete', upcoming_performance_path(upcoming_performance),
              method: :delete, data: { confirm: 'Are you sure you\'d like to delete upcoming performance "' + upcoming_performance.title + '"?' } %></p>
      </div>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
