<h1>Upcoming Performances</h1>
 
<%= render 'upcoming_performances_feed' %>

<% if user_signed_in? %>
<div class="add-new">
  <%= link_to "Add Upcoming Performance", new_upcoming_performance_path %>
</div>
<% end %>
