<%= render 'show', :upcoming_performance => @upcoming_performance %>

<div class="nav-buttons">
  <%= link_to 'Back', upcoming_performances_path %>
  <%= link_to 'Edit', edit_upcoming_performance_path(@upcoming_performance) %>
</div>
