%section.row.news-feed
  - if !articles.empty?
    - articles.each do |article|
      .column.small-12.medium-6.large-4
        = render '/articles/thumb', article: article
  - else
    .column.small-12
      .panel
        %p Stay tuned for more information soon!
