- content_for :head do
  = pagination_link_tags articles

%section.news-feed
  - if !articles.empty?
    - articles.each do |article|
      = render '/articles/thumb', article: article
    .news-feed--paginate
      = will_paginate articles, page_links: false
  - else
    .row
      .column.small-12
        .panel
          %p Stay tuned for more information soon!
