%section.row
  - if !articles.empty?
    .column.small-12.news-feed
      - articles.each do |article|
        = render '/articles/thumb', article: article
  - else
    .column.small-12
      .panel
        %p Stay tuned for more information soon!
