%section.news-feed
  - if articles.length > 0
    - articles.each do |article|
      .news-article
        = render "/articles/show", article: article
  - else
    .row
      .column.small-12
        .panel
          %p Stay tuned for more information soon!
