%section.news-feed
  .row
    - if articles.length > 0
      - articles.each do |article|
        = render "/articles/show", article: article
    - else
      %p.small-12.column Stay tuned for more information soon!
