:ruby
  title = 'News | Cal Raijin Taiko'
  description = 'The latest news and updates from Cal Raijin Taiko.' \
    ' Check back here to stay up-to-date with the latest new stories' \
    ' from Cal Raijin Taiko!'
  image = URI.join(root_url, image_path('logo.png'))

  meta title: title, description: description,
       og: { title: title, description: description, image: image,
             url: request.original_url }

%header.row
  %h1.small-12.column
    NEWS
    - if user_signed_in?
      .right
        = render 'layouts/button_link', link: new_article_path,
          tooltip: 'Create a new article', link_class: 'add-button',
          button: 'plus'

= render 'news_feed', articles: @articles
