- title = "News | Cal Raijin Taiko"
- description = "Cal Raijin Taiko's latest news"
- image = URI.join(root_url, image_path("logo.png"))

- meta title: title,
  description: description,
  og: { title: title, description: description, image: image,
  url: request.original_url }

%header
  .row
    %h1.link-header.small-8.column
      = link_to "NEWS", "/news"
    - if user_signed_in?
      = link_to "Add Article", new_article_path,
        class: "button small round small-2 large-1 column"

= render "news_feed", articles: @articles

- if user_signed_in?
  .row
    = link_to "Add Article", new_article_path, class: "button small round small-2 large-1 column"
