- title = "News | Cal Raijin Taiko"
- description = "Cal Raijin Taiko's latest news"
- image = URI.join(root_url, image_path("logo.png"))

- meta title: title,
  description: description,
  og: { title: title, description: description, image: image,
  url: request.original_url }

%header.row
  %h1.small-8.column NEWS
  - if user_signed_in?
    = link_to "Add Article", new_article_path,
      class: "button small round hide-for-medium-down large-1 column"

= render "thumbnail_feed", articles: @articles
