- title = "News | Cal Raijin Taiko"
- description = "Cal Raijin Taiko's latest news"
- image = URI.join(root_url, image_path("logo.png"))

- meta title: title,
  description: description,
  og: { title: title, description: description, image: image,
  url: request.original_url }

%header
  %h1.link-header
    = link_to "NEWS", "/news"
    - if user_signed_in?
      = link_to image_tag("icons/add.png"), new_article_path

= render "news_feed", articles: @articles

- if user_signed_in?
  .add-new
    = link_to image_tag("icons/add.png"), new_article_path
