- title = "News | Cal Raijin Taiko"
- description = @article.title
- image = URI.join(root_url, image_path("logo.png"))

- meta title: title,
  description: description,
  og: { title: title, description: description, image: image,
  url: request.original_url }

= render "show", article: @article

%nav.nav-buttons
  = link_to image_tag("icons/back.png"), "/news"
