// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article-thumb {
  @include box-style($sub-color-3, $sub-color-2);
  margin-bottom: 5%;
  padding: 20px;
  .article-image {
    margin-bottom: 15px;
    margin-top: 10px;
  }
  a.continue-reading {
    text-decoration: underline;
  }
  .icons {
    a {
      margin-left: 15%;
      i {
        font-size: 270%;
      }
    }
  }
}

.article-thumb:first-child {
  margin-top: 2%;
}
