@font-face {
  font-family: 'oswald';
  src: font-url('oswald/Oswald-Regular.ttf');
  src: font-url('oswald/Oswald-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: font-url('lato/Lato-Regular.ttf');
  src: font-url('lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: font-url('lato/Lato-Bold.ttf');
  src: font-url('lato/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
