// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#media-videos {

  h5:not(:first-child) {
    margin-top: 30px;
  }
}

.video {
  margin-bottom: 30px;

  h4 {
    display: inline-block;
    font-family: 'Lato';
    margin-top: 0;
  }
}

.video-container {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 0;
  position: relative;

  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
