$black: #000;
$blue: #3f51b5;
$green: #5cb85c;
$red: #f00;
$yellow: #ffc600;
$white: #fff;

$fb-color: #45619d;
$youtube-color: #cc181e;
$link-color: #000;
$border-color: #fff;
$main-color: #222;
$dark-bg: #222;
$admin-link: #333;
$sub-color: #666;
$sub-color-2: #b3b3b3;
$sub-color-3: #ededed;
$strong-color: #eef268;
$error-color: #f04124;
$transparent: rgba(0, 0, 0, 0);
$hover-text-color: rgba(255, 255, 255, .75);

$delete-btn-color: $red;
$edit-btn-color: $blue;
$send-btn-color: $blue;

$main-font: "lato", geneva, tahoma, sans-serif;
$strong-font: "lato", arial, helvetica, sans-serif;
$header-font: "oswald", verdana, geneva, sans-serif;
$performance-width: 900px;
$performance-padding: 20px;
