%article.video.small-12.medium-6.column.left
  %h4= video.title
  - if user_signed_in?
    .icons
      = link_to video_path(video), method: :delete, class: 'right',
        data: { confirm: "Delete video '#{video.title}'?" } do
        %i.fi-trash
      = link_to edit_video_path(video), class: 'right' do
        %i.fi-pencil
  %br

  .video-container
    .youtube{ id: video.id, data: { id: video.youtube_id } }
