%article.video.small-12.large-6.column
  %h4= video.title
  - if user_signed_in?
    .icons
      = link_to video_path(video), method: :delete, class: 'right',
        data: { confimr: "Delete video '#{video.title}'?" } do
        %i.fi-trash
      = link_to edit_video_path(video), class: 'right' do
        %i.fi-pencil
  %br

  %iframe{ width: '464', height: '261', frameborder: '0', allowfullscreen: '',
    src: video.embed_link }
