#media-videos
  - by_year.keys.each do |year|
    .row
      %h3.small-12.column= year
    %section.years-videos
      .row
        - by_year[year].each do |video|
          = render "videos/show", video: video
