- title = "Videos | Cal Raijin Taiko"
- description = "Videos of some of Cal Raijin Taiko's past performances."
- image = URI.join(root_url, image_path("logo.png"))

- meta title: title,
  description: description,
  og: { title: title, description: description, image: image,
  url: request.original_url }

%header
  %h1 VIDEOS
  - if user_signed_in?
    = link_to "Add Video", new_video_path, class: "button small round"

= render "videos_feed", by_year: @by_year

- if user_signed_in?
  .add-new
    = link_to "Add Video", new_video_path, class: "button small round"
