<article class="video">
  <h4><%= performance_video.title %></h4><br>
  <iframe width="432" height="243" src="<%= performance_video.link.to_s.sub('watch?v=', 'embed/') %>" frameborder="0" allowfullscreen></iframe>

</article>
