<h2 class="form-header">Edit Performance Video</h2>

<%= render 'form', performance_video: @performance_video %>

<nav class="nav-buttons">
  <%= link_to image_tag("icons/back.png"), performances_path %>
</nav>
