%section.thumbnail-feed.row
  %ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3
    - objects.each do |performance|
      - title = performance.title
      %li.text-center
        %article.thumb-performance
          .performance-image
            = link_to image_tag(performance.banner.url(:thumb)),
              performance.images_link
            = link_to 'VIEW GALLERY', performance.images_link,
              class: 'text-link'
          .details
            %p.text-left
              - if title.length > 34
                = (title[0, 32] + '...').upcase
              - else
                = title.upcase
