%section.thumbnail-feed.row
  %ul.small-block-grid-1.medium-block-grid-3.xlarge-block-grid-4
    - performances.each do |performance|
      %li
        %article.thumb-performance
          .performance-image
            = link_to image_tag(performance.banner.url(:thumb)), performance.images_link
            = link_to "VIEW GALLERY", performance.images_link, class: "text-link"
          %section.details
            %p
              - if performance.title.length > 34
                = (performance.title[0, 32] + "...").upcase
              - else
                = performance.title.upcase
