<%
   title = "Cal Raijin Taiko | About Us"
   description = "The history of Cal Raijin Taiko."
   image = URI.join(root_url, image_path("logo.png"))

   meta title: title,
   description: description,
   og: {
   title: title,
   description: description,
   image: image
   }
%>

<h1>Cal Raijin Taiko</h1>

<div class="page-content">
<p>In the Spring of 2005, a small-but-committed group of students pooled together their resources and formed UC Berkeley's first taiko group. Since then, Cal Raijin Taiko has gone on to become Berkeley's premier Japanese drumming performance ensemble. With a repertoire consisting entirely of original compositions, Cal Raijin Taiko performs to spread the knowledge, love, and passion of taiko to both the campus and the surrounding communities.</p>

<p>Since it's inception a decade ago, Cal Taiko has blah blah blah blah</p>
</div>
