:ruby
  title = 'About Us | Cal Raijin Taiko'
  description = 'The history of Cal Raijin Taiko'
  image = URI.join(root_url, image_path('logo.png'))

  meta title: title,
       description: description,
       og: { title: title, description: description, image: image,
             url: request.original_url }

.banner-image#about-page-banner
  = image_tag('about_page_banner.jpg')
  .text.row.show-for-medium-up
    .column.large-12
      %h1.title About Us

.row
  .small-12.column.hide-for-medium-up
    %h1.article-title About Us
  .small-12.column
    .article
      :markdown
        In the Spring of 2005, a small-but-committed group of students pooled
        together their resources and formed UC Berkeley's first taiko group.
        Since then, **Cal Raijin Taiko** has gone on to become Berkeley's
        premier Japanese drumming performance ensemble. With a repertoire
        consisting entirely of original compositions, Cal Raijin Taiko performs
        to spread the **knowledge**, **love**, and **passion** of taiko to both
        the campus and the surrounding communities.

.row
  .small-12.medium-7.column
    .performance-image
      = link_to image_tag('team_photo.jpg'), members_path
      = link_to 'Meet the team!', members_path, class: 'text-link'
  .column.small-12.medium-5
    .article
      :markdown
        Over the years since our founding, the members of Cal Raijin Taiko have
        composed more than a dozen unique and vibrant songs, and performed for
        scores of audiences large and small.
        Our **[alumni](#{alumni_members_path})** have spread throughout the
        country, many of them going on to found entirely new taiko groups.
        Every Fall we accept new members to make up the next Generation of our
        Cal Raijin Taiko family.
