<p>For all general or performance inquires, please email us at 
  <strong><a href="mailto:">caltaiko@gmail.com</a></strong></p>

<p>You can also reach us over the phone at <strong>(999) 999-9999</strong><p>
