<%= link_to image_tag("logo.png", :id => "logo"), root_url %>

<p>For all general or performance inquires, please email us at 
  <strong>caltaiko@gmail.com</strong></p>

<p>You can also reach us over the phone at <strong>(999) 999-9999</strong><p>
