<%
   title = "Cal Raijin Taiko | Contact Us"
   description = "How to get in contact with Cal Raijin Taiko."
   image = URI.join(root_url, image_path("logo.png"))

   meta title: title,
   description: description,
   og: {
   title: title,
   description: description,
   image: image
   }
%>


<div class="page-content">
<p>For all general or performance inquires, please email us at 
  <strong><a href="mailto:caltaiko@gmail.com">caltaiko@gmail.com</a></strong></p>

<p>You can also reach us over the phone at <strong>(999) 999-9999</strong><p>
</div>
