- title = "Contact Us | Cal Raijin Taiko"
- description = "How to get in contact with Cal Raijin Taiko"
- image = URI.join(root_url, image_path("logo.png"))

- meta title: title,
  description: description,
  og: { title: title, description: description, image: image,
  url: request.original_url }

.row
  .small-12.medium-7.column.text-left
    .row
      .column.small-12
        :markdown
          For all general or performance inquiries, please feel free to contact us at **[caltaiko@gmail.com](mailto:caltaiko@gmail.com)**

      .column.small-12
        %h3 Find us on social media!
      .social-media
        .column.small-4
          = link_to image_tag("icons/facebook.png"), "https://www.facebook.com/calraijintaiko"
        .column.small-4
          = link_to image_tag("icons/instagram.png"), "http://instagram.com/calraijintaiko"
        .column.small-4
          = link_to image_tag("icons/youtube.png"), "https://www.youtube.com/user/CALtaiko/"

  .column.small-12.medium-5
    = image_tag("team_playing.jpg", class: "team-pic")
