:ruby
  title = 'Cal Raijin Taiko'
  description = "Founded in 2005, Cal Raijin Taiko is UC Berkeley's Japanese"\
                ' drumming performance ensemble.'
  image = URI.join(root_url, image_path('logo.png'))

  meta title: title, description: description,
       og: { title: title, description: description, image: image,
             url: root_url }

.front-pg-display.row
  = image_tag('banner_white.png', class: 'center front-image')
  = link_to 'About Us', about_path, class: 'center button small',
    id: 'front-page-btn'
