:ruby
  title = 'Videos | Cal Raijin Taiko'
  description = "Watch videos of some of Cal Raijin Taiko's past" \
    " performances. Since our founding in 2005, Cal Raijin Taiko has" \
    " performed at community and campus events all across the Bay Area."
  image = URI.join(root_url, image_path('logo.png'))

  meta title: title, description: description,
       og: { title: title, description: description, image: image,
             url: request.original_url }

%header.row
  %h1.small-10.column VIDEOS
  - if user_signed_in?
    = link_to 'Add Video', new_video_path,
      class: 'button small round column small-2 large-1'

= render 'layouts/accordion', by_key: @videos_by_year, id: 2,
  partial: 'videos/videos_feed', active_key: @videos_active_year
