:ruby
  title = 'Photo Galleries | Cal Raijin Taiko'
  description = "View photos from some of Cal Raijin Taiko's past" \
    ' performances. Since our founding in 2005, Cal Raijin Taiko has' \
    ' performed at community and campus events all across the Bay Area.'
  image = URI.join(root_url, image_path('logo.png'))

  meta title: title, description: description,
       og: { title: title, description: description, image: image,
             url: request.original_url }

- if !@performances.empty?
  %header.row
    %h1.small-12.column PHOTO GALLERIES

  %section.galleries-feed
    = render 'layouts/accordion', by_key: @performances_by_year, id: 1,
      partial: 'pages/galleries_feed', active_key: @galleries_active_year
- else
  .row
    .column.small-12
      .panel
        %p There are currently no photo galleries; stay tuned!
