- title = "Media | Cal Raijin Taiko"
- description = "Photos and videos of some of Cal Raijin Taiko's past performances."
- image = URI.join(root_url, image_path("logo.png"))

- meta title: title,
  description: description,
  og: { title: title, description: description, image: image,
  url: request.original_url }

%header
  %h1 VIDEOS
  - if user_signed_in?
    = link_to image_tag("icons/add.png"), new_video_path

= render "videos/videos_feed", by_year: @videos_by_year

