<h1>Past Performances</h1>
 
<div class="perf_feed">
<%= render 'past_performances_feed' %>
</div>

<% if user_signed_in? %>
<div class="add-new">
  <%= link_to "Add Past Performance", new_past_performance_path %>
</div>
<% end %>
