<%= render 'show', :past_performance => @past_performance %>

<div class="nav-links">
  <%= link_to 'Back', past_performances_path %>
  <%= link_to 'Edit', edit_past_performance_path(@past_performance) %>
</div>
