<%
   title = "Alumni | Cal Raijin Taiko"
   description = "Our Cal Raijin Taiko family of alumni"
   image = URI.join(root_url, image_path("logo.png"))

   meta title: title,
   description: description,
   og: {
   title: title,
   description: description,
   image: image,
   url: root_url + "alumni"
   }
%>

<header>
  <h2>ALUMNI</h2>
  <% if user_signed_in? %>
  <%= link_to image_tag("icons/add.png"), new_member_path %>
  <% end %>
</header>

<%= render 'alumni_members', members: @alumni %>

<% if user_signed_in? %>
<div class="add-new">
  <%= link_to image_tag("icons/add.png"), new_member_path %>
</div>
<% end %>
