.row
  .column.small-12
    %h2 Internal Server Error
  .column.small-12
    :markdown
      Unfortunately, we have encountered an internal server error. Please try
      again momentarily, and if the issue persists, contact the webmaster
      at **[website@caltaiko.org](mailto:website@caltaiko.org)**.
