.back {
  margin-top: 5%;
  text-align: center;
}

.add-button {
  color: $sub-color-2;
  transition: color .2s ease;

  &:hover {
    color: $link-color;
  }
}

.btn {

  &.with-icon {
    padding-bottom: 7px;
    padding-left: 5px;
    padding-top: 7px;

    iron-icon {
      margin-right: 3px;
    }
  }

  &.delete {
    @include styled-button($delete-btn-color);
  }

  &.edit {
    @include styled-button($edit-btn-color);
  }
}
