section.member-data {
  margin-bottom: 50px;
}

.data-table {
  thead {
    tr {
      background-color: $dark-bg;
    }
    th {
      color: $yellow;
    }
  }
}

.dataTables_filter {
  input[type="search"] {
    margin-left: 10px;
  }
}
