form {
  textarea {
    height: 200px;
  }

  div.datetime {
    color: transparent;
  }

  .datepicker,
  .full-datepicker,
  .timepicker {
    background-color: $white !important;
  }

  input[type="checkbox"] {
    margin-right: 9px;
  }

  ::-webkit-input-placeholder { // WebKit, Blink, Edge
    color: scale-color($white, $lightness: -10%);
  }
  :-moz-placeholder { // Mozilla Firefox 4 to 18
    color: scale-color($white, $lightness: -20%);
    opacity: 1;
  }
  ::-moz-placeholder { // Mozilla Firefox 19+
    color: scale-color($white, $lightness: -20%);
    opacity: 1;
  }
  :-ms-input-placeholder { // Internet Explorer 10-11
    color: scale-color($white, $lightness: -20%);
  }

  fieldset {
    legend {
      background-color: initial;
      font-size: 20px;
      padding: 0 7px;
    }

    .img-text {
      position: relative;
      top: -15px;
    }
  }

  .error {
    small {
      background: $error-color;
      color: $white;
      display: block;
      font-size: .75rem;
      font-style: italic;
      font-weight: normal;
      margin-bottom: 1rem;
      margin-top: -1px;
      padding: .375rem .5625rem;
    }
  }

  .remove-performance-video {
    margin-top: 23px;
  }
}

.contact-form {
  .switch-on {
    color: $white;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    left: -55px;
    position: absolute;
    top: 8px;
  }

  .switch-off {
    color: $white;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    left: -25px;
    position: absolute;
    top: 8px;
  }

  .switch {
    label {
      background: $transparent-medium;
      float: right !important;
    }

    input:checked + label {
      background: $transparent-dark;
    }
  }

  .submit {
    margin-top: 50px;
  }
}
