// Place all the styles related to the header and footer here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#admin-link {
  background-color: $yellow;
  color: $admin-link;
}

.top-bar {
  .title-area .name {
    font-family: $header-font;
    font-size: 4rem;
    letter-spacing: 1px;
    padding-left: 45px;
  }

  .active {
    border: 1px $white solid;
  }
}

.tab-bar .tab-bar-section {
  h1.title a {
    color: $yellow;
    letter-spacing: 1px;
  }
}

.main-section {
  margin-top: 3%;
}
