// Place all the styles related to the header and footer here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#admin-link {
  background-color: $yellow;
  color: $admin-link;
}

.top-bar {
  right: 10px;
  top: 10px;

  .title-area .name {
    font-family: $header-font;
    font-size: 4rem;
    letter-spacing: 1px;
    padding-left: 45px;
  }

  .active {
    border: 1px $white solid;
  }
}

.off-canvas-wrap {
  .inner-wrap {
    .title a {
      color: $white;
      letter-spacing: 1px;
    }
  }
}

.main-section {
  margin-top: 3%;
}
