// Place all the styles related to the header and footer here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#admin-link {
  background-color: $yellow;
  color: $admin-link;
}

.top-bar ul.title-area li.name {
  img {
    height: 100%;
    padding-left: 10px;
    position: absolute;
  }
  h1 {
    font-size: 1.25rem;
    letter-spacing: 1px;
    padding-left: 45px;
  }
}

.tab-bar .tab-bar-section {
  h1.title a {
    color: $yellow;
    letter-spacing: 1px;
  }
}

.main-section {
  margin-top: 3%;
}
