img.team-pic {
  border: 3px $main-color solid;
}

.front-image {
  width: 800px;
}

#team-pic {
  background-color: $dark-bg;
  border: 3px $main-color solid;
  margin-bottom: 30px;
  padding: 0;

  img {
    @include transition;
  }

  .text-link {
    @include transition($effect: color);
    color: rgba(0, 0, 0, 0);
    display: block;
    font-family: $main-font;
    margin: 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 42%;
    width: 100%;
    z-index: 0;
  }
}

#team-pic:hover {
  img {
    filter: alpha(opacity=50);
    opacity: .5;
    zoom: 1;
  }

  .text-link {
    color: $white;
    z-index: 3;
  }
}
