section {
  margin-bottom: 4%;
}

.front-pg-display {
  position: fixed;
  top: 20%;
}

.about-pg-display {
  p {
    font-size: 23px;
    padding: 50px 20px;
  }
}

#contact {
  .contact-text {
    margin-top: 70px;

    p {
      font-size: 20px;
    }
  }
}
