$text-link-color: #45619d;

.fb-page {
  margin-bottom: 30px;
}

#instagram-feed {
  border: 0;
  height: 690px;
  overflow: hidden;
  width: 460px;
}

.social-media {
  margin-top: 50px;

  i {
    font-size: 550%;
    -moz-transition: all .1s;
    -ms-transition: all .1s;
    -o-transition: all .1s;
    -webkit-transition: all .1s;
    transition: all .1s;

    &.fi-social-facebook {
      color: $fb-color;

      &:hover {
        color: darken($fb-color, 15%);
      }
    }

    &.fi-social-youtube {
      color: $youtube-color;


      &:hover {
        color: darken($youtube-color, 15%);
      }
    }

    &.fi-social-instagram {
      color: $ig-color;

      &:hover {
        color: darken($ig-color, 15%);
      }
    }
  }
}
