.text-block {
  @include box-style;
  margin-bottom: 30px;
  padding: 20px;

  p {
    margin-bottom: 0;
  }

  &.contact-form {
    margin-bottom: 50px !important;
    margin-left: 10px !important;

    p {
      margin-bottom: 25px;
    }
  }
}

.group-description {
  p {
    font-size: 123%;
  }
}

.article {
  p {
    font-size: 1.3rem;
  }

  .article-title {
    margin-bottom: 0;
    text-transform: uppercase;
  }

  .article-text {
    margin: 25px 0;
  }
}
