@import 'variables';

@mixin box-style($bg-color: $sub-color-3, $shadow-color: $sub-color-2, $width: 5px, $offset: 0) {
    background-color: $bg-color;
    box-shadow: $width $width 0 $offset $shadow-color;
}

@mixin edit-icons($icon-size: 30px, $icon-padding: 0) {
    display: inline;
    float: right;
    img {
        display: inline-block;
        height: $icon-size;
        margin-right: $icon-padding;
        width: $icon-size;
    }
}

@mixin transition($effect: opacity, $time: .25s) {
    -webkit-transition: $effect $time ease-in-out;
    -moz-transition: $effect $time ease-in-out;
    -ms-transition: $effect $time ease-in-out;
    -o-transition: $effect $time ease-in-out;
    transition: $effect $time ease-in-out;
}
