$primary-color: #4B4F52;
$link-color: black;
$border-color: white;
$trans-bg-color: rgba(0, 0, 0, .6);
$main-font: "Lato", Geneva, Tahoma, sans-serif;
$strong-font: "Lato", Arial, Helvetica, sans-serif;
$header-font: "Oswald", Verdana, Geneva, sans-serif;
$performance-width: 800px;
$performance-padding: 20px;
