$primary-color: #4B4F52;
$link-color: black;
$border-color: white;
$main-color: #222;
$sub-color: #666666;
$sub-color-2: #B3B3B3;
$main-font: "Lato", Geneva, Tahoma, sans-serif;
$strong-font: "Lato", Arial, Helvetica, sans-serif;
$header-font: "Oswald", Verdana, Geneva, sans-serif;
$performance-width: 800px;
$performance-padding: 20px;
