$link-color: black;
$border-color: white;
$main-color: #222;
$dark-bg: #222;
$sub-color: #666666;
$sub-color-2: #B3B3B3;
$sub-color-3: #EDEDED;
$strong-color: #EEF268;
$main-font: "Lato", Geneva, Tahoma, sans-serif;
$strong-font: "Lato", Arial, Helvetica, sans-serif;
$header-font: "Oswald", Verdana, Geneva, sans-serif;
$performance-width: 900px;
$performance-padding: 20px;
