// Place all the styles affecting entire app here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

// Below are the new HTML5 elements; need this line to ensure backwards compatability
header, hgroup, nav, section, article, aside, footer { display:block; }

a {
    color: $link-color;
    &:hover {
        color: blue;
    }
}

p {
    font-family: $main-font;
    text-align: center;
}

strong {
    font-family: $strong-font;
}

h1 {
    text-align: center;
    font-family: $header-font;
}

h2 {
    text-align: center;
    font-family: $header-font;
}

h3 {
    text-align: left;
    font-family: $header-font;
}

article {
    border-radius: 5px;
}

div {
    border-radius: 5px;
}

body {
    margin: 0px;
    z-index: 0;
    background-image: asset-data-url("backgrounds/1.jpg");
}

#logo {
    width: 540px;
    height: auto;
    border: 0;
    outline: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#content-wrapper {
    background-color: transparent;
    z-index: 1;
    width: 1000px;
    margin: 0 auto;
    border-radius: 0px;
}

#page-content {
    width: 800px;
    margin: auto;
}

.add-new {
    margin-top: 30px;
    display: block;
    text-align: center;
}

.nav-buttons {
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
}