// Place all the styles affecting entire app here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

// Below are the new HTML5 elements; need this line to ensure backwards compatability
header, hgroup, nav, section, article, aside, footer { display:block; }

a {
    color: $link-color;
    &:hover {
        color: $sub-color;
    }
}

p {
    font-family: $main-font;
    color: white;
    text-align: center;
}

strong {
    font-family: $strong-font;
}

h1, h2, h3 {
    text-align: left;
    font-family: $header-font;
    font-weight: 200;
    font-size: 20px;
    margin-top: 0px;
}

h1 {
    margin-bottom: 0px;
}

h4 {
    font-family: $header-font;
    font-size: 15px;
    margin-bottom: 10px;
}

h2.form-header {
    margin-top: 40px;
}

header {
    margin-top: 40px;
    h1, h2 {
        display: inline-block;
    }
    img {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-left: 5px;
    }
}

.link-header {
    a {
        text-decoration: none;
    }
}

form {
    border: 1px $border-color solid;
    background: $main-color;
    box-shadow: 0 0 0 7px $main-color;
    margin-bottom: 20px;
    padding-bottom: 10px;
    a {
        color: white;
    }
    label {
        vertical-align: top;
        color: white;
        margin-right: 10px;
	font-family: $main-font;
        abbr {
            vertical-align: top;
        }
    }
    p {
        text-align: center;
    }
    .input {
        text-align: left;
        margin: 15px auto;
        padding: 10px 20px 10px 20px;
        span {
            vertical-align: top;
            margin-left: 10px;
            color: red;
        }
        input.file {
            color: white;
        }
    }
    input.btn {
        display: block;
        margin: 10px auto;
    }
    .actions {
        text-align: center;
    }
}

body {
    margin: 0px;
    z-index: 0;
}

#banner {
    width: 540px;
    height: auto;
    border: 0;
    outline: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#content-wrapper {
    background-color: transparent;
    z-index: 1;
    width: 1000px;
    margin: 0 auto;
    border-radius: 0px;
}

.add-new {
    margin-top: 30px;
    text-align: center;
    img {
        margin-bottom: -4px;
        display: inline-block;
        width: 30px;
        height: 30px;
    }
    h1 {
        display: inline-block;
    }
}

.nav-buttons {
    margin-top: 40px;
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
    img {
        width: 30px;
        height: 30px;
    }
}

.text-wrapper {
    border: 1px $border-color solid;
    background-color: $main-color;
    margin-top: 50px;
    margin-left: 5px;
    z-index: -1;
    border-radius: 0px;
    box-shadow: 0 0 0 7px $main-color;
    padding: 20px;
    * {
        color: white;
        font-family: "Lato";
        word-spacing: 1px;
    }
    h1 {
        display: inline;
        color: white;
        margin-bottom: 0px;
    }
    small {
        color: white;
        font-family: "Lato";
        margin-top: 0px;
        display: block;
        font-weight: light;
    }
    p {
        margin-top: 20px;
        padding: 0px;
        text-align: left;
    }
    p:first-child {
        margin-top: 0px;
    }
    p:last-child {
        margin-bottom: 0px;
    }
    a {
        color: white;
    }
    strong {
        color: $strong-color;
        a {
            color: $strong-color;
            text-decoration: none;
        }
    }
    blockquote {
        background-color: #E5E8D1;
        border-radius: 5px;
        border: 2px $sub-color-2 solid;
        padding: 20px;
        * {
            color: $main-color;
        }
        p {
            margin: 0px;
        }
        p:not(:first-child) {
            margin-top: 20px;
        }
    }
}

#page-wrapper {
    margin-bottom: 40px;
}

#page-content {
    margin: 0px;
    width: 900px;
    margin: auto;
    margin-bottom: 200px;
}

