// Place all the styles affecting entire app here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

// Below are the new HTML5 elements; need this line to ensure backwards compatability
header, hgroup, nav, section, article, aside, footer { display:block; }

a {
    color: $link-color;
    &:hover {
        color: $sub-color;
    }
}

p {
    font-family: $main-font;
    color: white;
    text-align: center;
}

strong {
    font-family: $strong-font;
}

h1, h2, h3 {
    text-align: left;
    font-family: $header-font;
    font-weight: 200;
    font-size: 20px;
}

h1 {
    margin-bottom: -20px;
}

header {
    margin-top: 40px;
}

form.edit_performance, form.new_performance {
    textarea {
        width: 50%;
        height: 60px;
    }
    input {
        width: 30%;
    }
}

form.edit_member, form.new_member {
    textarea {
        width: 50%;
        height: 60px;
    }
    input#member_gen {
        width: 30px;
    }
}

form {
    border: 1px $border-color solid;
    background: $main-color;
    box-shadow: 0 0 0 7px $main-color;
    margin-bottom: 20px;
    padding-bottom: 10px;
    label {
        color: white;
	text-align: center;
	font-family: $main-font;
    }
    p {
        text-align: center;
    }
    .field {
        text-align: center;
        margin: 15px auto;
    }
    .actions {
        text-align: center;
    }
}

body {
    margin: 0px;
    z-index: 0;
    //background-image: asset-data-url("backgrounds/1.jpg");
}

#banner {
    width: 540px;
    height: auto;
    border: 0;
    outline: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#content-wrapper {
    background-color: transparent;
    z-index: 1;
    width: 1000px;
    margin: 0 auto;
    border-radius: 0px;
}

.add-new {
    margin-top: 30px;
    display: block;
    text-align: center;
}

.nav-buttons {
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
}

.text-wrapper {
    border: 1px $border-color solid;
    background-color: $main-color;
    margin-top: 50px;
    z-index: -1;
    border-radius: 0px;
    box-shadow: 0 0 0 7px $main-color;
    p {
        padding: 20px;
        margin: 0px;
    }
    a {
        color: white;
    }
}

#page-wrapper {
    margin-bottom: 40px;
}

#page-content {
    margin: 0px;
    width: 900px;
    margin: auto;
    margin-bottom: 200px;
}