// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
@import "mixins";

section.news-feed {
    article.article:not(:first-child) {
        margin-top: 75px;
    }
}

article.article {
    margin-top: 0px;
    padding: 20px;
    @include box-style($sub-color-3, $sub-color-2);
    h1 {
	display: inline-block;
    }
    small {
	display: block;
	font-family: $main-font;
    }
    li {
	font-family: $main-font;
    }
    p {
	text-align: left;
	color: black;
    }
    a {
	text-decoration: none;
    }
    .edit-icons {
        @include edit-icons($icon-size: 20px, $icon-padding: 5px);
    }
}

article.article:first-child {
    margin-top: 30px;
}
