// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
@import "mixins";

section.news-feed {
    article.article:not(:first-child) {
        margin-top: 7%;
    }
}

article.article {
    padding: 20px;
    @include box-style($sub-color-3, $sub-color-2);
    .icons {
        a {
            margin-left: 15%;
            i {
                font-size: 270%;
            }
        }
    }
}

article.article:first-child {
    margin-top: 2%;
}
