// Place all the styles related to the devise controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

#cancel-account {
    text-align: center;
    p {
	color: black;
    }
    form {
	background: transparent;
	box-shadow: none;
	border: none;
    }
    input {
        width: initial;
    }
}


form.new_user {
    width: 40%;
    margin: auto;
    input {
        width: 40%;
    }
    input.btn {
        width: auto;
    }
    input#user_email {
        width: 60%;
    }
}

#shared-links {
    margin-top: 30px;
    text-align: center;
}

#login {
    form.new_user {
        width: 40%;
        text-align: center;
        .input {
            text-align: center;
            input {
                display: block;
                margin: auto;
                margin-top: 10px;
            }
        }
        #forgot-pass {
            margin-top: 20px;
            font-size: 80%;
        }
    }
}

#forgot-pass {
    form.new_user {
        input#user_email {
            width: 70%;
        }
    }
}