// Place all the styles related to the devise controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.login-screen {
    width: 300px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    #login-field {
        width: 300px;
        height: 70px;
        display: block;
        margin: auto;
        padding-left: 0px;
    }
    #password-field {
        padding-left: 0px;
        width: auto;
        height: auto;
        display: block;
        margin-top: -15px;
        margin-left: 88px;
        margin-right: 80px;
        margin-bottom: 15px;
        label#passwrd {
            margin-left: 30px;
        }
	input#user_password {
	    margin-left: -30px;
	}
    }
    #bottom-buttons {
        margin-left: 80px;
        margin-right: 80px;
        text-align: center;
        #sign-in-butt {
            margin-bottom: 5px;
        }
        #forgot-pass-link {
            width: auto;
            text-align: center;
            font-size: 12px;
            margin-bottom: 10px;
        }
    }
}

#register-screen {
    width: 200px;
    height: auto;
    border: 3px $primary-color solid;
    margin: 0 auto;
    #login-info-field {
    }
    #password-field {
	text-align: center;
        margin-bottom: 10px;
    }
    #sign-in-sign-up {
	width: max-content;
        text-align: center;
        margin-bottom: 10px;
	#sign-up {
	    display: inline;
	}
	#sign-in {
	    display: inline;
	}
    }
}

#edit-account {
    border: 3px $primary-color solid;
    margin: auto;
    width: 400px;
    #username-email-fields {
    }
    #new-passwrd {
        text-align: center;
        margin-bottom: 10px;
    }
    #confirm-new-passwrd {
        text-align: center;
        margin-bottom: 10px;
    }
    #current-passwrd {
        text-align: center;
    }
    #submit-button {
        text-align: center;
    }
    #cancel-account {
        text-align: center;
    }
}

#back-link {
    margin-top: 10px;
    text-align: center;
}

.email {
    width: 800px;
    margin: auto;
    border: 1px $primary-color solid;
}
