// Place all the styles related to the front_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.devise-notice {
    .alert-success {
        background-color: black;
        color: white;
    }
    .alert-danger {
        background-color: red;
        colo: white;
    }
}

#fb-stuff {
    width: 702px;
    background-color: white;
    border: 3px $primary-color solid;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    #fb-feed {
    }
    #fb-faces {
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
    }
}


#front-perf-feed {
    .thumbnail-feed {
        // Use flexbox to keep single / double performances centered
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        .thumb-performance {
            margin: 20px auto auto auto;
        }   
    }
}