// Place all the styles related to the front_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

/* .links { */
/*     text-align: center; */
/*     font-family: $main-font; */
/*     .link { */
/*         display: inline-block; */
/*         margin: 5px 5px 5px 5px; */
/*         a { */
/*             display: inline; */
/*             text-decoration: none; */
/*         } */
/*     } */
/* } */

.add-new {
    margin-top: 30px;
    display: block;
    text-align: center;
}

.devise-notice {
    .alert-success {
        background-color: black;
        color: white;
    }
    .alert-danger {
        background-color: red;
        colo: white;
    }
}

#fb-stuff {
    width: 702px;
    border: 3px $primary-color solid;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    #fb-feed {
    }
    #fb-faces {
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
    }
}