// Place all the styles related to the front_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

a {
    color: $link-color;
}

p {
    font-family: $main-font;
}

strong {
    font-family: $strong-font;
}

h1 {
    text-align: center;
    font-family: $header-font;
}

h2 {
    text-align: center;
    font-family: $header-font;
}

#logo {
    width: 540px;
    height: auto;
    border: 0;
    outline: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#header-wrapper {
    width: 800px;
    height: auto;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    margin: auto;
}

.links {
    text-align: center;
    font-family: $main-font;
    .link {
        display: inline-block;
        margin: 5px 5px 5px 5px;
        a {
            display: inline;
            text-decoration: none;
        }
    }
}

.add-new {
    margin-top: 30px;
    display: block;
    text-align: center;
}

#perf_list {
    ul {
        list-style-type: none;
        li:not(:last-child) {
            margin-bottom: 40px;
        }
    }
}

.perf_feed {
    ul {
        list-style-type: none;
        li:not(:last-child) {
            margin-bottom: 40px;
        }
    }
}

#footer-wrapper{
    position: fixed;
    height: 20px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin-bottom: 5px;
    margin-left: 5px;
    .icons {
        img {
            width: 20px;
            height: 20px;
        }
    }
}


body{
    margin-bottom: 50px;
}

.devise-notice {
    background-color: black;
    color: white;
}