// Place all the styles related to the header and footer here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

#nav-header{
    display: block;
    width: 900px;
    height: auto;
    margin: auto;
}

#nav-bar {
    //border-top: 2px black solid;
    border-bottom: 2px black solid;
    border-radius: 0px;
    text-align: center;
    font-family: $header-font;
    .link {
        display: inline-block;
        margin: 0px 5px 0px 5px;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-right: 10px;
        padding-left: 10px;
        a {
            height: 100%;
            display: inline;
            text-decoration: none;
            color: black;
        }
        a:hover {
            color: $sub-color;
        }
        ul {
            position: absolute;
            padding-left: 0px;
            left: -9999px;
            list-style-type: none;
            li {
                background-color: $main-color;
                padding: 4px;
                padding-bottom: 0px;
                float: none;
                text-align: left;
                a {
                    padding-left: 8px;
                    color: white;
                }
            }
            li:last-child {
                padding-bottom: 8px;
            }
        }
        ul#members-dropdown {
            li {
                width: 77px;
            }
        }
        ul#performances-dropdown {
            li {
                width: 114px;
            }
        }
    }
    .link:hover {
        ul {
            z-index: 5;
            margin-top: 5px;
            margin-left: -10px;
            left: auto;
        }
    }
}

body.front_page_main #nav-bar .link#home-page,
body.members_index #nav-bar .link#members-page,
body.members_current #nav-bar .link#members-page,
body.members_alumni #nav-bar .link#members-page,
body.members_edit #nav-bar .link#members-page,
body.members_new #nav-bar .link#members-page,
body.performances_index #nav-bar .link#performances-page,
body.performances_upcoming #nav-bar .link#performances-page,
body.performances_past #nav-bar .link#performances-page,
body.performances_edit #nav-bar .link#performances-page,
body.performances_new #nav-bar .link#performances-page,
body.pages_about #nav-bar .link#about-page,
body.pages_contact #nav-bar .link#contact-page {
    background-color: $main-color;
    a {
        color: white;
    }
    a:hover {
        color: $sub-color;
    }
}

#social-media {
    position: fixed;
    height: 20px;
    width: 90px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin-bottom: 10px;
    margin-left: 5px;
    .icons {
        img {
            width: 25px;
            height: 25px;
            z-index: 100;
        }
        img:hover {
            position: relative;
            top: -3px;
        }
    }
}
