// Place all the styles related to the header and footer here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

#nav-header{
    display: block;
    width: 900px;
    height: auto;
    margin: auto;
}

.nav-bar {
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    border-radius: 0px;
    text-align: center;
    font-family: $main-font;
    .link {
        display: inline-block;
        margin: 0px 5px 0px 5px;
        padding-bottom: 5px;
        padding-top: 5px;
        a {
            height: 100%;
            display: inline;
            text-decoration: none;
            color: black;
        }
        a:hover {
            color: blue;
        }
        ul {
            position: absolute;
            padding-left: 0px;
            left: -9999px;
            background-color: white;
            background-color: transparent;
            list-style-type: none;
            li {
                border-bottom: 2px black solid;
                border-right: 2px black solid;
                border-left: 2px black solid;
                background-color: $primary-color;
                padding: 4px;
                float: none;
                width: 100%;
                a {
                    color: white;
                }
            }
            li:not(:last-child) {
                border-top: 2px black solid;
            }
        }
    }
    .link:hover {
        ul {
            margin-top: 5px;
            left: auto;
        }
    }
}

#social-media {
    position: fixed;
    height: 20px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin-bottom: 10px;
    margin-left: 5px;
    z-index: 2;
    .icons {
        img {
            width: 25px;
            height: 25px;
        }
    }
}
