// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.members-wrapper {
    width: 1000px;
    margin: auto;
    .person-wrapper {
        .element-wrapper {
            p {
                font-family: Geneva;
            }
            ul {
                list-style-type: none;
            }
            strong {
                font-family: Arial;
            }
        }
    }
}