// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
@import "mixins";

.current-members {
    .member {
        background-color: $dark-bg;
        border: 3px $main-color solid;
        border-radius: 3px;
        .member-image {
            position: relative;
            img {
                z-index: 1;
                @include transition;
                width: 100%;
            }
            a.text-link {
                text-decoration: none;
                display: block;
                position: absolute;
                z-index: 0;
                width: 100%;
                bottom: 5%;
                margin: 0px;
                text-align: center;
                color: rgba(0, 0, 0, 0);
                @include transition($effect: color);
            }
        }
        .member-image:hover {
            img {
	        filter: alpha(opacity=40);
                opacity: .4;
            }
            a.text-link {
                color: white;
                z-index: 3;
            }
        }
        p.name {
            text-align: center;
            color: $yellow;
            margin-bottom: 0px;
        }
        a {
            color: white;
        }
        .edit-icons {
            @include edit-icons($icon-size: 15px, $icon-padding: 3px);
        }
    }
}

$alumni-width: 205px;

.alumni {
    a {
        text-decoration: none;
        color: white;
    }
    .alumnus {
        @include box-style($width: 3px);
        .link-wrapper {
            p {
                padding-top: 15px;
                padding-bottom: 15px;
                margin: 0px;
                color: black;
            }
            .edit-icons {
                z-index: 4;
                @include edit-icons($icon-size: 15px, $icon-padding: 4px);
            }
        }
    }
    .alumnus:hover {
	zoom: 1; 
	filter: alpha(opacity=40);
        opacity: .4;
        background-color: $main-color;
        p {
            color: white;
        }
	img {
	    filter: invert(1);
	    -webkit-filter: invert(1);
	}
    }
}

.individual {
    img.bio-pic {
        //@include box-style;
    }
    .bio-block {
        @include box-style;
        .edit-icons {
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 4;
            @include edit-icons($icon-size: 30px, $icon-padding: 10px);
        }
    }
}

.generations {
    border-top: 1px $main-color solid;
    border-bottom: 1px $main-color solid;
    text-align: center;
    padding: 5px;
    .gen {
        display: inline-block;
	margin: 5px 20px;
    }
    a {
	display: block;
	text-decoration: none;
	font-family: "Oswald";
    }
}

p#nice-try-wise-guy {
    color: $main-color;
    text-align: left;
    font-size: 120%;
}