// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.current-members {
    display: block;
    width: 1000px;
    margin-left: -70px;
    margin-right: 0px;
    .member {
        background-color: $primary-color;
        width: auto;
        height: auto;
        display: inline-block;
        padding: 0px;
        margin: 10px;
        border: 5px $primary-color solid;
        img {
            display: block;
        }
    }
}

$alumni-width: 185px;

.alumni {
    width: 800px;
    margin: auto;
    a {
        text-decoration: none;
    }
    .alumnus {
        border: 1px $primary-color solid;
        width: $alumni-width;
        height: auto;
        margin: 5px;
        display: inline-block;
        background-image: linear-gradient(to top right, #C3C4C2, white);
        .nav-buttons {
            width: $alumni-width;
            a {
                text-decoration: underline;
            }
        }
    }
}

$bio-width: 450px;

.individual {
    width: $bio-width + 350px;
    height: auto;
    margin: 30px auto;
    border: 3px $primary-color solid;
    img {
        margin: 10px;
        display: inline-block;
    }
    .bio-info {
        width: $bio-width;
        width: 300px;
        height: auto;
        display: inline-block;
        vertical-align: top;
        padding-right: 20px;
        p {
            text-align: left;
        }
    }
}
