// Place all the styles related to the header and footer here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.top-bar, .top-bar-section li:not(.has-form) {
    a {
        text-transform: uppercase;
    }
}

.top-bar ul.title-area li.name {
    img {
        height: 100%;
        display: inline-block;
        padding-left: 10px;
    }
    h1 {
        font-size: 118%;
        margin-left: -10px;
        display: inline-block;
    }
}