// Place all the styles related to the header and footer here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';

#admin-link {
  background-color: $yellow;
  color: #333;
}

.top-bar, .tab-bar {
  -moz-box-shadow: 0 0 30px 0 black;
  -webkit-box-shadow: 0 0 30px 0 black;
  box-shadow: 0 0 30px 0 black;
}

.top-bar, .top-bar-section li:not(.has-form) {
  a {
    text-transform: uppercase;
  }
}

.top-bar ul.title-area li.name {
  img {
    height: 100%;
    padding-left: 10px;
    position: absolute;
  }
  h1 {
    font-size: 118%;
    letter-spacing: 1px;
    padding-left: 45px;
  }
}

.tab-bar .tab-bar-section {
  h1.title a {
    color: $yellow;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.main-section {
  margin-top: 3%;
}
