// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

img#team-pic {
    display: block;
    border: 5px $main-color solid;
    margin: 40px auto 0px auto;
    width: 700px;
}