// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
@import "mixins";

#team-pic {
    background-color: $dark-bg;
    padding: 0px;
    //position: relative;
    border: 3px $main-color solid;
    //margin: 40px auto 0px auto;
    //width: 850px;
    img {
        //position: relative;
        z-index: 1;
        //display: block;
        //width: 850px;
        @include transition;
    }
    a.text-link {
        text-decoration: none;
        font-family: $main-font;
        display: block;
        position: absolute;
        z-index: 0;
        width: 100%;
        top: 47%;
        margin: 0px;
        text-align: center;
        color: rgba(0, 0, 0, 0);
        @include transition($effect: color);
    }
}

#team-pic:hover {
    img {
        zoom: 1;
        filter: alpha(opacity=50);
        opacity: .5;
    }
    a.text-link {
        color: white;
        z-index: 3;
    }
}

section.galleries-feed {
    margin-bottom: 50px;
    .thumb-performance {
	padding-bottom: 0px;
    }
}