// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

#team-pic {
    background-color: $dark-bg;
    position: relative;
    border: 3px $main-color solid;
    margin: 40px auto 0px auto;
    width: 850px;
    img {
        position: relative;
        z-index: 1;
        display: block;
        width: 850px;
    }
    p {
        display: block;
        position: absolute;
        z-index: 0;
        width: 80%;
        top: 50%;
        margin: 0px 10%;
        text-align: center;
        color: rgba(0, 0, 0, 0);
    }
}

#team-pic:hover {
    img {
        zoom: 1;
        filter: alpha(opacity=50);
        opacity: .5;
    }
    p {
        color: white;
        z-index: 3;
    }
}

section.galleries-feed {
    margin-bottom: 50px;
    .thumb-performance {
	padding-bottom: 0px;
    }
}