// Place all the styles related to the past_performances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    text-align: center;
    font-family: Verdana;
}

.past_perf_feed {
    p {
        font-family: Geneva;
    }
    ul {
        list-style-type: none;
        li:not(:last-child) {
            margin-bottom: 40px;
        }
    }
    strong {
        font-family: Arial;
    }
}
