// Place all the styles related to the upcoming_performances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.perf-feed {
    padding-left: 0px;
    margin-left: -40px;
    ul {
        list-style-type: none;
        li:not(:last-child) {
            margin-bottom: 40px;
        }
    }
}

.link-header {
    a {
        text-decoration: none;
    }
}

.nav-buttons {
    width: 800px;
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
}

$show-width: 800px;
$show-padding: 20px;

.show {
    width: $show-width;
    height: auto;
    border: 3px $primary-color solid;
    margin-top: 40px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    .show-deets {
        width: $show-width - 2 * $show-padding;
        height: auto;
        display: inline-block;
        padding-left: $show-padding;
        padding-right: $show-padding;
        padding-bottom: 0px;
        border-radius: 0px;
        border-bottom: 3px $primary-color solid;
        p {
            text-align: left;
        }
        h3 {
            margin-bottom: 0px;
        }
        .when {
            width: 340px;
            display: inline-block;
            vertical-align: top;
        }
        .where {
            width: $show-width - 387px;
            display: inline-block;
        }
    }
    .banner-pic {
        margin: 0px;
        padding: 0px;
        width: $show-width;
        height: auto;
    }
    .show-description {
        width: $show-width - 2 * $show-padding;
        height: auto;
        display: inline-block;
        border-top: 3px $primary-color solid;
        border-radius: 0px;
        padding-right: $show-padding;
        padding-left: $show-padding;
        vertical-align: top;
        P {
            text-align: left;
        }
    }
}