// Place all the styles related to the performance_videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.perf-videos {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-flow: row wrap;
    justify-content: space-between;
    .video {
        display: inline-block;
    }
}

form.new_performance_video,
form.edit_performance_video {
    #perf-slug {
        display: none;
    }
}

table#perf-vids {
    border-collapse: collapse;
    td, th {
        text-align: left;
        padding: 2px 5px;
        border: 1px black solid;
    }
    th {
        background-color: $main-color;
        color: white;
    }
}