// Place all the styles related to the performance_videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';

table#perf-vids {
    border-collapse: collapse;
    td, th {
        border: 1px black solid;
        padding: 2px 5px;
        text-align: left;
    }
    th {
        background-color: $main-color;
        color: white;
    }
    td {
        a {
            text-decoration: none;
        }
    }
}
