// Place all the styles related to the upcoming_performances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.perf-feed {
    article {
        margin-bottom: 50px;
    }
}

.link-header {
    a {
        text-decoration: none;
    }
}

.performance {
    width: $performance-width;
    height: auto;
    border: 3px $primary-color solid;
    margin-top: 40px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    div {
        background-color: white;
    }
    .performance-deets {
        width: $performance-width - 2 * $performance-padding;
        height: auto;
        display: inline-block;
        padding-left: $performance-padding;
        padding-right: $performance-padding;
        padding-bottom: 0px;
        border-radius: 0px;
        border-bottom: 3px $primary-color solid;
        p {
            text-align: left;
        }
        h3 {
            margin-bottom: 0px;
        }
        .when {
            width: 340px;
            display: inline-block;
            vertical-align: top;
        }
        .where {
            width: $performance-width - 387px;
            display: inline-block;
        }
    }
    img {
        width: 800px;
        height: auto;
        display: block;
        border-bottom: 3px $primary-color solid;
    }
    .description {
        text-align: left;
        margin: 0px;
        padding: $performance-padding;
    }
}