// Place all the styles related to the upcoming_performances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
@import "mixins";

.perf-feed {
    article {
        margin-bottom: 50px;
        margin-top: 0px;
    }
    .text-wrapper {
        margin-top: 0px;
    }
}

.performance {
    @include box-style;
    .performance-deets {
        p {
            word-spacing: 2px;
            font-family: "Oswald";
	    color: $main-color;
            margin-bottom: 1%;
        }
	p.where, .what {
	    // Make them uppercase here instead of in the template so that
	    // look nicer in Google rich snippets
	    text-transform: uppercase;
	}
        .what {
	    color: $main-color;
            text-shadow: 2px 2px 0px $sub-color-2;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
    .icons {
        a {
            margin-left: 15%;
        }
        i {
            font-size: 300%;
        }
    }
}

.thumbnail-feed {
    .thumb-performance {
        display: inline-block;
        @include box-style($width: 3px);
        .details {
            padding: 3px 8px 0px 8px;
            .date-and-icons {
                position: relative;
            }
        }
        p {
            white-space: nowrap;
            overflow: hidden;
            font-family: "Oswald";
            margin-bottom: 0px;
        }
        p.perf-date {
            font-size: 13px;
        }
        .icons {
            position: absolute;
            top: -10px;
            right: 0px;
            i {
                margin-left: 8px;
                font-size: 140%;
            }
        }
    }
}

.performance-image {
    background-color: $dark-bg;
    position: relative;
    border-bottom: 1px $border-color solid;
    img {
        width: 100%;
        position: relative;
        display: block;
        z-index: 1;
        @include transition;
    }
    a.text-link {
        z-index: 0;
        color: rgba(0, 0, 0, 0);
        @include transition($effect: color);
	display: block;
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
	font-family: "Lato";
	word-spacing: 2px;
    }
    a.upcoming-perf {
	text-decoration: none;
	p.underlined {
	    text-decoration: underline;
	}
	p {
            @include transition($effect: color);
	    color: rgba(0, 0, 0, 0);
	    padding: 0px 10%;
	    margin: 0px auto;
	}
    }
}

.performance-image:hover {
    img {
	filter: alpha(opacity=30);
        opacity: .3;
    }
    a.text-link {
	z-index: 3;
        color: white;
    }
    a.upcoming-perf {
	p {
	    color: white;
	}
    }
}
