@import "variables";
@import "mixins";

.social-media {
    i {
        font-size: 450%;
        @include transition($effect: font, $time: .1s);
    }
    i.fi-social-facebook {
        color: #45619D;
    }
    i.fi-social-youtube {
        color: #CC181E;
    }
    i.fi-social-instagram {
        color: black;
    }
    i:hover {
        font-size: 500%;
    }
}