@import "variables";
@import "mixins";

$text-link-color: #45619D;

.social-media {
    i {
        font-size: 450%;
        @include transition($effect: font, $time: .1s);
    }
    i.fi-social-facebook {
        color: #45619D;
    }
    i.fi-social-youtube {
        color: #CC181E;
    }
    i.fi-social-instagram {
        color: black;
    }
    i:hover {
        font-size: 500%;
    }
    .text-link {
        position: absolute;
        margin-left: 33%;
        top: 10px;
        color: $text-link-color;
    }
    .text-link:hover {
        color: darken($text-link-color, 15%);
    }
}