.social-media {
    i {
        font-size: 450%;
    }
    i.fi-social-facebook {
        color: #45619D;
    }
    i.fi-social-youtube {
        color: #CC181E;
    }
    i.fi-social-instagram {
        color: black;
    }
}