// Place all the styles related to the upcoming_performances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

h1 {
    text-align: center;
    font-family: $header-font;
}

.upcoming_perf_feed {
    p {
        font-family: $main-font;
    }
    ul {
        list-style-type: none;
        li:not(:last-child) {
            margin-bottom: 40px;
        }
    }
    strong {
        font-family: $strong-font;
    }
}
