// Place all the styles related to the upcoming_performances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.show {
    width: 1000px;
    height: auto;
    border: 3px $primary-color solid;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    .show-deets {
        width: 300px;
        height: auto;
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
        border-right: 3px $primary-color solid;
        p {
            text-align: left;
        }
    }
    .show-description {
        width: 610px;
        height: auto;
        display: inline-block;
        margin-right: 20px;
        margin-left: 20px;
        vertical-align: top;
        P {
            text-align: left;
        }
    }
}