// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

h5 {
    font-family: $header-font;
    font-size: 18px;
    margin-bottom: 10px;
}

#media-videos {
    h5:not(:first-child) {
        margin-top: 30px;
    }
    section.years-videos {
        // Use flexbox to keep single / double performances centered
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	-webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
}

.video {
    margin-bottom: 30px;
    display: inline-block;
    h4 {
        font-family: "Lato";
        margin-top: 0px;
        display: inline-block;
    }
    iframe {
        border: 2px $main-color solid;
    }
    .edit-icons {
        display: inline-block;
        margin-left: 5px;
        img {
            width: 20px;
            height: 20px;
            display: inline-block;
            padding-right: 5px;
        }
    }
}

form.edit_video, form.new_video {
    .field {
        input {
            width: 250px;
        }
        input#video_year {
            width: 80px;
        }
    }
}