%article.video.small-12.medium-6.column.left
  %h4= performance_video.title
  %br

  .video-container
    .youtube{ id: performance_video.id,
              data: { id: performance_video.youtube_id } }
