%article.video.small-12.large-6.column
  %h4= performance_video.title
  %br
  %iframe{ width: '464', height: '261', frameborder: '0', allowfullscreen: '',
    src: performance_video.link.sub('watch?v=', 'embed/') }
