%article.video.small-12.medium-6.column.left
  %h4= performance_video.title
  %br

  .video-container
    %iframe{ width: '464', height: '261', frameborder: '0', allowfullscreen: '',
      src: performance_video.embed_link }
