- title = @performance_video.title + " | Cal Raijin Taiko"
- description = "Watch the video of #{@performance_video.title}"
- image = URI.join(root_url, image_path("logo.png"))

- meta title: title,
  description: description,
  og: { title: title, description: description, image: image,
  url: request.original_url }

#show-vid
  = render "show", performance_video: @performance_video

%nav.nav-buttons
  = link_to image_tag("icons/back.png"), performances_path
