%section.perf-feed
  - if performances.length > 0
    - performances.each do |performance|
      = render '/performances/show', performance: performance
  - else
    .row
      .column.small-12
        .panel
          %p Stay tuned for more information soon!
