.nested-fields
  .row
    .small-12.large-5.column
      = f.input :title, placeholder: 'Video Title'
    .small-9.large-5.column
      = f.input :link, placeholder: 'Video Link'
    .column.small-3.large-2
      = link_to_remove_association 'Remove video', f, class: 'button small'
