.nested-fields
  .row
    .small-5.column
      = f.input :title, placeholder: "Video Title"
    .small-5.column
      = f.input :link, placeholder: "Video Link"
    = link_to_remove_association "Remove video", f, class: "small-2 column"
