<section class="perf-feed">
  <% performances.each do |performance| %>
  <%= render '/performances/show', :performance => performance %>
  <% if user_signed_in? %>
  <nav class="nav-buttons">
    <%= link_to 'Show', performance_path(performance) %>
    <%= link_to 'Edit', edit_performance_path(performance) %>
    <%= link_to 'Delete', performance_path(performance),
        method: :delete, data: { confirm: 'Are you sure you\'d like to delete performance "' + performance.title + '"?' } %>
  </nav>
  <% end %>
  <% end %>
</section>
