%section.thumbnail-feed.row
  - objects.each do |performance|
    .column.small-12.medium-6.large-4
      %paper-card.performance-card.thumbnail-card
        .performance-image
          = link_to image_tag(performance.banner.url(:thumb)), performance
          = link_to 'VIEW EVENT', performance, class: 'text-link'
        .card-content
          %time.subtitle{ itemprop: 'startDate',
            datetime: performance.date.iso8601.to_s }
            = performance.date.strftime('%A, %-m/%-d')
          .title= performance.title
