<%
   title = "Past Performances | Cal Raijin Taiko"
   description = "A few of Cal Raijin Taiko's favorite past performances."
   image = URI.join(root_url, image_path("logo.png"))

   meta title: title,
   description: description,
   og: {
   title: title,
   description: description,
   image: image,
   url: root_url + "performances/past"
   }
%>

<header>
<h2>PAST PERFORMANCES</h2>
</header> 

<% @by_year.keys.each do |year| %>
<h4><%= year %></h4>
<%= render 'thumbnail_feed', performances: @by_year[year] %>
<% end %>

<% if user_signed_in? %>
<div class="add-new">
  <%= link_to image_tag("icons/add.png"), new_performance_path %>
</div>
<% end %>
