- title = "Past Performances | Cal Raijin Taiko"
- description = "A few of Cal Raijin Taiko's past performances."
- image = URI.join(root_url, image_path("logo.png"))

- meta title: title,
  description: description,
  og: { title: title, description: description, image: image,
  url: request.original_url }

%header
  %h1 PAST PERFORMANCES
  - if user_signed_in?
    = link_to "Add Performance", new_performance_path, class: "button small round"

- @by_year.keys.each do |year|
  %h4= year
  = render "thumbnail_feed", performances: @by_year[year]

- if user_signed_in?
  = link_to "Add Performance", new_performance_path, class: "button small round"
