:ruby
  title = 'Past Performances | Cal Raijin Taiko'
  description = "A few of Cal Raijin Taiko's past performances."
  image = URI.join(root_url, image_path('logo.png'))

  meta title: title, description: description,
       og: { title: title, description: description, image: image,
             url: request.original_url }

%header.row
  %h1.small-10.column PAST PERFORMANCES
  - if user_signed_in?
    = link_to 'Add Performance', new_performance_path,
      class: 'button small round hide-for-medium-down large-2 column'

= render 'accordion', by_year: @by_year, active_year: @active_year
