<%
   title = "Past Performances | Cal Raijin Taiko"
   description = "A few of Cal Raijin Taiko's favorite past performances."
   image = URI.join(root_url, image_path("logo.png"))

   meta title: title,
   description: description,
   og: {
   title: title,
   description: description,
   image: image,
   url: root_url + "performances/past"
   }
%>

<header>
<h2>PAST PERFORMANCES</h2>
</header> 

<%= render 'thumbnail_feed', performances: @past %>

<% if user_signed_in? %>
<%= link_to "Add New Performance", new_performance_path, class: "add-new" %>
<% end %>
