- title = @performance.title + " | Cal Raijin Taiko"
- description = @performance.description
- image = @performance.banner.url(:display)

- meta title: title,
  description: description,
  og: { title: title, description: description, image: image,
  url: request.original_url }

.row
  = render "show", performance: @performance

- if @performance.performance_videos.any?
  %header.row
    %h2.column.small-12 VIDEOS
  %section.perf-videos.row.text-left
    - @performance_videos.each do |perf_vid|
      = render "performance_videos/show", performance_video: perf_vid

.back
  = link_to "Back", members_path, class: "button small radius"
