<%
   title = @performance.title + " | Cal Raijin Taiko"
   description = "View more detailed information for the performance " + @performance.title
   image = @performance.banner.url(:display)

   meta title: title,
   description: description,
   og: {
   title: title,
   description: description,
   image: image,
   url: root_url + "performances/" + @performance.slug
   }
%>

<%= render 'show', :performance => @performance %>

<nav class="nav-buttons">
  <%= link_to 'Back', performances_path %>
  <% if user_signed_in? %>
  <%= link_to 'Edit', edit_performance_path(@performance) %>
  <% end %>
</nav>
