<%
   title = @performance.title + " | Cal Raijin Taiko"
   description = @performance.description
   image = @performance.banner.url(:display)

   meta title: title,
   description: description,
   og: {
   title: title,
   description: description,
   image: image,
   url: root_url + "performances/" + @performance.slug
   }
%>

<%= render 'show', performance: @performance %>

<% if @performance.videos.length > 0 %>
<header>
  <h2>VIDEOS</h2>
</header>
<section class="perf-videos">
  <% @performance.videos.each do |video| %>
  <%= render 'performance_videos/show', video: video %>
  <% end %>
</section>
<% end %>

<% if user_signed_in? %>
<div class="add-new">
  <h1>ADD NEW VIDEO</h1>
  <%= link_to image_tag("icons/add.png"),
      new_performance_video_path(performance: @performance.slug) %>
</div>
<% end %>

<nav class="nav-buttons">
  <%= link_to image_tag("icons/back.png"), performances_path %>
</nav>
