<%
   title = @performance.title + " | Cal Raijin Taiko"
   description = @performance.description
   image = @performance.banner.url(:display)

   meta title: title,
   description: description,
   og: {
   title: title,
   description: description,
   image: image,
   url: root_url + "performances/" + @performance.slug
   }
%>

<%= render 'show', :performance => @performance %>

<nav class="nav-buttons">
  <%= link_to image_tag("icons/back.png"), performances_path %>
</nav>
