<%
   title = "Upcoming Performances | Cal Raijin Taiko"
   description = "Cal Raijin Taiko's upcoming performances."
   image = URI.join(root_url, image_path("logo.png"))

   meta title: title,
   description: description,
   og: {
   title: title,
   description: description,
   image: image,
   url: root_url + "performances/upcoming"
   }
%>

<header>
<h1>UPCOMING PERFORMANCES</h1>
</header> 

<%= render 'performances_feed', performances: @upcoming %>

<% if user_signed_in? %>
<%= link_to "Add New Performance", new_performance_path, class: "add-new" %>
<% end %>
