<h1>Upcoming Performances</h1>
 
<%= render 'performances_feed', performances: @upcoming %>

<% if user_signed_in? %>
<div class="add-new">
  <%= link_to "Add Performance", new_performance_path %>
</div>
<% end %>
