<header>
<h1>Upcoming Performances</h1>
</header> 

<%= render 'performances_feed', performances: @upcoming %>

<% if user_signed_in? %>
<%= link_to "Add New Performance", new_performance_path, class: "add-new" %>
<% end %>
