<%
   title = "Upcoming Performances | Cal Raijin Taiko"
   description = "Cal Raijin Taiko's upcoming performances."
   image = URI.join(root_url, image_path("logo.png"))

   meta title: title,
   description: description,
   og: {
   title: title,
   description: description,
   image: image,
   url: root_url + "performances/upcoming"
   }
%>

<header>
<h1>UPCOMING PERFORMANCES</h1>
</header> 

<%= render 'performances_feed', performances: @upcoming %>

<% if user_signed_in? %>
<div class="add-new">
  <%= link_to image_tag("icons/add.png"), new_performance_path %>
</div>
<% end %>
