- title = "Upcoming Performances | Cal Raijin Taiko"
- description = "Cal Raijin Taiko's upcoming performances."
- image = URI.join(root_url, image_path("logo.png"))

- meta title: title,
  description: description,
  og: { title: title, description: description, image: image,
  url: request.original_url }

%header
  %h2 UPCOMING PERFORMANCES
  - if user_signed_in?
    = link_to "Add Performance", new_performance_path, class: "button small round"

= render "performances_feed", performances: @upcoming

- if user_signed_in?
  .add-new
    = link_to "Add Performance", new_performance_path, class: "button small round"
