= link_to link,
  title: tooltip,
  data: { tooltip: '', options: 'disable_for_touch:true' },
  aria: { haspopup: 'true' }, itemprop: 'url',
  class: "add-button hide-for-small has-tip tip-top #{link_class}" do
  %i{ class: "fi-#{button}" }
