%nav.icons
  = link_to image_tag("icons/facebook.png"),
    "https://www.facebook.com/calraijintaiko", :target => "_blank"
  = link_to image_tag("icons/instagram.png"),
    "http://www.instagram.com/calraijintaiko", :target => "_blank"
  = link_to image_tag("icons/youtube.png"),
    "https://www.youtube.com/user/CALtaiko", :target => "_blank"
