<!DOCTYPE html>
<html>
<footer>
  <div class="icons">
    <%= link_to image_tag("icons/facebook_icon.png"),
        "https://www.facebook.com/calraijintaiko", :target => "_blank" %>
    <%= link_to image_tag("icons/instagram_icon.png"),
        "http://www.instagram.com/calraijintaiko", :target => "_blank" %>
    <%= link_to image_tag("icons/youtube_icon.png"),
        "https://www.youtube.com/user/CALtaiko", :target => "_blank" %>
  </div>
</footer>
</html>
