%link{ rel: 'prefetch', href: image_url('about_page_banner') }
%link{ rel: 'prefetch', href: image_url('contact_page_banner') }
%link{ rel: 'prefetch', href: image_url('team_photo') }
%link{ rel: 'prefetch', href: image_url('team_playing') }
