%link{ rel: 'prefetch', href: image_path('about_page_banner.jpg') }
%link{ rel: 'prefetch', href: image_path('contact_page_banner.jpg') }
%link{ rel: 'prefetch', href: image_path('team_photo.jpg') }
%link{ rel: 'prefetch', href: image_path('team_playing.jpg') }
