<section class="alumni">
  <% members.each do |member| %>
  <article class="alumnus">
    <%= link_to member_path(member) do %>
    <div class="link-wrapper">
      <p><%= member.name %></p>
      <% if user_signed_in? %>
      <section class="edit-icons">
        <%= link_to image_tag("icons/edit.png"), edit_member_path(member) %>
        <%= link_to image_tag("icons/delete.png"),
            member_path(member), method: :delete,
            data: { confirm: "Are you sure you'd like to delete member '" + member.name + "'?" } %>
      </section>
      <% end %>
    </div>
    <% end %>
  </article>
  <% end %>
</section>
