.row
  %section.alumni.small-12.column
    %ul.small-block-grid-2.medium-block-grid-3.large-block-grid-4
      - members.each do |member|
        %li
          %article.alumnus
            %a{ href: '#', data: { reveal: { id: "#{member.slug}" } } }
              .link-wrapper
                %p.text-center= member.name

  - members.each do |member|
    .reveal-modal.medium{ data: { reveal: '' }, id: "#{member.slug}" }
      = render 'members/show', member: member
      %a.close-reveal-modal.hide-for-large-up &#215;
