%paper-dialog#member-dialog
  %paper-dialog-scrollable
    .row
      %img.bio-pic.column.small-12.medium-5
      .spacer.column.small-12.hide-for-medium-up
      .bio-block.column.small-12.medium-7
        %h2#member-name
        %p.member-gen-major
          %a#member-gen
          %span#member-major
        %p#member-bio
