%paper-dialog#member-dialog
  %paper-dialog-scrollable
    .row
      %img.bio-pic.small-12.medium-5.column
      .spacer.column.small-12.hide-for-medium-up
      .bio-block.column.small-12.medium-7
        .row
          %h2#member-name
          %a#member-gen
          %p#member-major
          %p#member-bio
