:ruby
  title = 'Generations | Cal Raijin Taiko'
  description = 'The generations of Cal Raijin Taiko members.' \
    ' Since the founding of the group in 2005, each year has seen the' \
    ' introduction of a new generation of team members.'
  image = URI.join(root_url, image_path('logo.png'))

  meta title: title, description: description,
       og: { title: title, description: description, image: image,
             url: request.original_url }

%header.row
  %h2.column.small-12 GENERATIONS

= render 'gens', gens: @gens
