<%
   title = "Cal Raijin Taiko | Alumni"
   description = "Our Cal Raijin Taiko family of alumni"
   image = URI.join(root_url, image_path("logo.png"))

   meta title: title,
   description: description,
   og: {
   title: title,
   description: description,
   image: image,
   url: root_url + "alumni"
   }
%>

<header>
<h1>Alumni</h1>
</header>

<%= render 'alumni_members', members: @alumni %>

<% if user_signed_in? %>
<%= link_to "Add New Member", new_member_path, class: "add-new" %>
<% end %>
