:ruby
  title = 'Alumni | Cal Raijin Taiko'
  description = 'Our Cal Raijin Taiko family of alumni. Many of our alumni' \
    ' have spread throughout the country, founding entirely new taiko' \
    ' groups in the cities where they settle.'
  image = URI.join(root_url, image_path('logo.png'))

  meta title: title, description: description,
       og: { title: title, description: description, image: image,
             url: request.original_url }

%header.row
  %h1.large-11.column ALUMNI
  - if user_signed_in?
    = link_to 'Add Member', new_member_path,
      class: 'button small round column hide-for-medium-down large-1'

= render 'layouts/accordion', by_key: @by_gen, active_key: @active_gen,
  partial: 'members/thumbs_with_modals', id: 1

= render 'gens', gens: @gens
