:ruby
  title = 'Alumni | Cal Raijin Taiko'
  description = 'Our Cal Raijin Taiko family of alumni. Many of our alumni' \
    ' have spread throughout the country, founding entirely new taiko' \
    ' groups in the cities where they settle.'
  image = URI.join(root_url, image_path('logo.png'))

  meta title: title, description: description,
       og: { title: title, description: description, image: image,
             url: request.original_url }

%header.row
  %h1.small-12.column
    ALUMNI
    - if user_signed_in?
      .right
        = render 'layouts/button_link', link: new_member_path,
          tooltip: 'Create a new member', link_class: 'add-button',
          button: 'plus'

= render 'layouts/accordion', by_key: @by_gen, active_key: @active_gen,
  partial: 'members/thumbs_with_modals', id: 1

= render 'gens', gens: @gens
