- title = "Alumni | Cal Raijin Taiko"
- description = "Our Cal Raijin Taiko family of alumni"
- image = URI.join(root_url, image_path("logo.png"))

- meta title: title,
  description: description,
  og: { title: title, description: description, image: image,
  url: request.original_url }

%header.row
  %h2.large-11.column ALUMNI
  - if user_signed_in?
    = link_to "Add Member", new_member_path,
      class: "button small round column hide-for-medium-down large-1"

= render "alumni_members", members: @alumni

= render "gens", gens: @gens
