:ruby
  title = 'Current Members | Cal Raijin Taiko'
  description = 'The currently active members of Cal Raijin Taiko.' \
    ' Every Fall we accept new members to make up the next Generation' \
    ' of our Cal Raijin Taiko family.'
  image = URI.join(root_url, image_path('logo.png'))

  meta title: title, description: description,
       og: { title: title, description: description, image: image,
             url: request.original_url }

%header.row
  %h1.small-12.column
    CURRENT MEMBERS
    - if user_signed_in?
      .right
        = render 'layouts/button_link', link: new_member_path,
          tooltip: 'Create a new member', link_class: 'add-button',
          button: 'plus'

= render 'thumbs_with_modals', objects: @current

= render 'gens', gens: @gens
