:ruby
  title = 'Current Members | Cal Raijin Taiko'
  description = 'The currently active members of Cal Raijin Taiko.' \
    ' Every Fall we accept new members to make up the next Generation' \
    ' of our Cal Raijin Taiko family.'
  image = URI.join(root_url, image_path('logo.png'))

  meta title: title, description: description,
       og: { title: title, description: description, image: image,
             url: request.original_url }

%header.row
  %h1.large-11.column CURRENT MEMBERS
  - if user_signed_in?
    = link_to 'Add Member', new_member_path,
      class: 'button small round column hide-for-medium-down large-1'

= render 'current_members', members: @current

= render 'gens', gens: @gens
