<header>
  <h1>Current Members</h1>
</header>

<%= render 'current_members', members: @current %>

<% if user_signed_in? %>
<%= link_to "Add New Member", new_member_path, class: "add-new" %>
<% end %>
