:ruby
  title = 'Member Database | Cal Raijin Taiko'
  description = 'A database of member bio information.'
  image = URI.join(root_url, image_path('logo.png'))

  meta title: title, description: description,
       og: { title: title, description: description, image: image,
             url: request.original_url }

.row
  %h2.column.small-12 CURRENT MEMBERS
  .column.small-12
    = render 'database', members: @current

.row
  %h2.column.small-12 ALUMNI
  .column.small-12
    = render 'database', members: @alumni
