- title = @member.name + " | Cal Raijin Taiko"
- description = "View the member bio for " + @member.name
- image = @member.avatar.url(:full)

- meta title: title,
  description: description,
  og: { title: title, description: description, image: image,
  url: request.original_url }

= render "members/show", member: @member

.row
  = link_to "Back", members_path, class: "button small round small-1 column"
